@charset "utf-8";
/* CSS Document */
body {
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Arial, "Arial Black", Verdana, "Trebuchet MS",Georgia, Tahoma, "Courier New", "Times New Roman", sans-serif;
	background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 60%,#fff),linear-gradient(70deg,#dbedff 32%,#ebfff0);
}
.header{

    background-color: rgba(0, 0, 0, 0.4);
    background-size: contain;
    background-size: auto;
}
footer{
    background-color: rgba(0, 0, 0, 0.4);
    background-size: contain;
    background-size: auto;
}
.interest{ color:#CF0;
}
h1,h2 {
    color:#CF0;
}
.myDropcap {
    font-size: 50px;
    line-height: 1.4em;
    font-weight: bold;
    vertical-align: middle;
    background-color: darksalmon;
}
a:hover {
    background-color: yellow;
}
a {
    text-decoration: none;
}
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}
.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}
iframe{
    width:500px;
    height:300px;


}

