@charset "utf-8";
/* CSS Document */
body{
	background-color:white;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size:11pt;	
}
h1,h2,h3,h4,h5,h6 {
	background-color:#F0F0F0;
	font-size:22pt;
	font-weight:bold;
	
}
footer{
	text-align:right;
}
.copyright{
	text-align:right;
	
}


