@charset "utf-8";
/* CSS Document */
body{
	background-color:white;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size:11pt;	
	color:#404040;
	padding: 0pt 40pt 0pt 40pt;
	
}
a{
	color:#A4A400;
	}
h1 {
	background-color:#F0F0F0;
	color: #A4A400;
	font-size:22pt;
	font-weight:bold;
	text-decoration:underline;
	
}
h2,h3,h4,h5,h6 {
	background-color:#F0F0F0;
	color: #A4A400;
	font-size:18pt;
	font-weight:bold;
	text-decoration:underline;
	text-align:left;
	
	
}
footer{
	text-align:right;
}
.copyright{
	text-align:right;
	padding-top: 3em;
	
}

.mainhead{
	text-align:center;
}
.boldli{
	font-weight:bold;
}
.comment{
	background-color:#FF9;
}
.usercomment{
	padding-left:15pt;
	
	}
.doubles{
	text-decoration:line-through;
	}
.divpad{
	padding: 20pt 20pt 20pt 20pt;
}
.discul{
	list-style-type:disc;
}
hr {
    display: block;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}